.satu{
    width: 360px;
    height: 450,5px;
    position: relative;
    margin-left: 100px;
    border-radius: 10px;
    display: inline-block;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
}

body{
    background-color:salmon;
}